apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 30.0.0 # Pin your versions!
    helm:
      values: |
        ingressClass:
          enabled: true
          isDefaultClass: true
        service:
          enabled: true
          type: LoadBalancer # MetalLB will give this an IP
        ports:
          web:
            redirectTo: 
              port: websecure
          websecure:
            tls:
              enabled: true
        persistence:
          enabled: false # Traefik itself doesn't need state usually
        additionalArguments:
          - "--api.insecure=true" # Only do this for internal LAN access
          - "--accesslog=true"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
